@media screen and (max-width: 600px) {
    .buttonLesson {
        /* position: fixed;
        z-index: 998; */
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
    }
}

@media only screen and (min-width: 600px) {
    .buttonLesson {
        top: 32px;
        left: 0;
        width: 100%;
    }
}

.buttonLesson {
    position: fixed;
    z-index: 1;
    background-color: #cd2653 !important;
    color: white!important;
    transition: 0.3s!important;
}

.buttonLesson:hover {
    transition: 0.3s;
    text-decoration: none !important;
    background-color: white!important;
    color: #cd2653 !important;
}