#bodyNavMooc {
    padding: 100px;
}

.navMooc {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: left;
    z-index: 999;
}

.navMooc h2 {
    /* font-weight: lighter; */
    transition: 0.1s;
}

.navMooc h2:hover {
    /* text-decoration: underline; */
    font-weight: normal;
    color: #cd2653;
}

.navMooc a {
    font-family: "Roboto";
    text-decoration: none;
    color: #0a2463;
    display: block;
    transition: 0.3s !important;
}

.navMooc a:hover {
    font-weight: bold;
    color: #cd2653;
}

.navMooc .closebtn {
    position: absolute;
    padding-top: 60px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.buttonNavMooc {
    font-size: 1.2em;
    cursor: pointer;
    bottom: 0px;
    background-color: #cd2653;
    z-index: 998;
    position: fixed;
    margin-bottom: auto;
    display: block;
    width: 100%;
    vertical-align: middle;
    height: 50px;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 0px !important;
    transition: 0.3s;
}

.buttonNavMooc::before {
    font: normal 20px/1 dashicons;
    content: '\f118';
    font-size: 1.2em;
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none !important;
    margin-right: 7px;
    vertical-align: middle;
    color: white;
    padding: 10px 0;
}

.buttonNavMooc:hover {
    background-color: white;
    color: #cd2653 !important;
}

.buttonNavMooc:hover::before {
    color: #cd2653;
}

.lessonCompleted::before {
    font: normal 20px/1 dashicons;
    content: '\f118';
    font-size: 1.2em;
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 7px;
    vertical-align: middle;
    text-decoration: none !important;
    color: #cd2653;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        /* font-size: 18px; */
    }
}