label {
  font-size: inherit !important;
}

input[type=checkbox] {
  position: relative;
  border: solid white !important;
  border-radius: 2px !important;
  margin: 0 1em 0 0 !important;
  padding: 0 !important;
  vertical-align: inherit !important;
  opacity: .5;
}

input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:checked {
  opacity: 1;
}

input[type=checkbox]:before {
  /* border:solid white!important; */
}

.correctAnswer {
  color: #48D448;
}

.correctAnswer::before {
  font: normal 20px/1 dashicons;
  content: '\f147';
  font-size: 1.2em;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  text-decoration: none !important;
}

.wrongAnswer {
  color: #CD2653;
}

.wrongAnswer::before {
  font: normal 20px/1 dashicons;
  content: '\f335';
  font-size: 1.2em;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  text-decoration: none !important;
}

.quizValidated::after {
  font: normal 20px/1 dashicons;
  content: '\f313';
  font-size: 1.2em;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  text-decoration: none !important;
  color: #cd2653;
}