label {
    font-size: inherit !important;
}

input[type=checkbox] {
    margin-right: 1em !important;
    
}

.correctAnswer {
    color: green;
}

.correctAnswer::before {
    font: normal 20px/1 dashicons;
    content: '\f147';
    font-size: 1.2em;
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    text-decoration: none !important;
}

.wrongAnswer {
    color: red;
}

.wrongAnswer::before {
    font: normal 20px/1 dashicons;
    content: '\f158';
    font-size: 1.2em;
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    text-decoration: none !important;
}